@font-face {
  font-family: "Lugrasimo-Regular";
  src: url("./fonts/Lugrasimo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lusitana-Bold";
  src: url("./fonts/Lusitana-Bold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Lusitana-Regular";
  src: url("./fonts/Lusitana-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProzaLibre-Bold";
  src: url("./fonts/ProzaLibre-Bold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "SourceSerif4_Light";
  src: url("./fonts/SourceSerif4_Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bgc-color: #1c1a27;
  --main-text-color: #efefef;
  --button-bgc-color: #5e450b;
  --animation-time-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Lugrasimo-Regular", Arial, sans-serif;
  color: var(--main-text-color);
  background: rgb(15, 7, 14);
  background: linear-gradient(
    90deg,
    rgba(15, 7, 14, 1) 0%,
    rgba(10, 9, 13, 1) 100%
  );
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
}

.container {
  max-width: 382px;
  padding: 0 16px;
  margin: 0 auto;
}

/* ------------------header------------------ */

.bg-container {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url(./img/hero-img.jpg);
  background-position: 10% 68%;
  background-size: 191%;
  padding: 44px 0 50px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 74px;
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 24px;
}

.logo__svg {
  width: 30px;
  height: 35px;
}

.logo__text {
  font-size: 30px;

  line-height: 1.5;
}

.nav-list {
  display: none;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.burger__bar {
  height: 2px;
  width: 21px;
  background-color: white;
}

.hero {
}

.hero__title {
  font-family: "SourceSerif4_Light", Arial, sans-serif;
  font-size: 26px;

  line-height: 1.3;
  text-align: left;
  margin-bottom: 16px;
}

.hero__text {
  font-family: "SourceSerif4_Light", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero__btn {
  padding: 16px 32px;
  background-color: var(--button-bgc-color);
  color: white;
  border: none;
  border-radius: 30px;

  font-family: "Lusitana-Regular", Arial, sans-serif;
  font-size: 18px;

  line-height: 1.3;
  min-width: 220px;
}

/* -----------------------mobile menu----------------------- */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(28, 26, 38, 0.5);
  z-index: 1000;
}

.overlay--active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  background-color: #1c1a26;
  width: 166px;
  padding: 30px 48px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 32px;
  right: 0;
  z-index: 1000;
}

.mobile-menu__close {
  background-color: inherit;
  color: var(--main-text-color);
  border: none;
  font-size: 40px;
  position: absolute;
  top: 12px;
  right: 20px;
}

.mobile-menu__close-svg {
  width: 30px;
  height: 30px;
  fill: var(--main-text-color);
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 44px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.mobile-menu__item {
  font-family: Source Serif Pro;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.mobile-menu__socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mobile-menu__socials-el {
}
.mobile-menu__socials-svg {
}

/* ------------------swiper-timeless------------------ */
.timeless {
  padding: 16px 0 30px 0;
  background: rgb(51, 36, 51);
  background: radial-gradient(
    circle,
    rgba(51, 36, 51, 1) 0%,
    rgba(18, 10, 18, 1) 55%
  );
}

.timeless-title {
  line-height: 1.4;
  text-align: center;
  margin-bottom: 35px;
}

.swiper-timeless {
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper__timeless {
  width: 80%;
  display: flex;
  align-items: center;
}

.swiper-wrapper {
}
.swiper-slide {
  height: 276px;
}
.timeles-slide {
}
.swiper__timeless-img {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--main-text-color);
  --swiper-navigation-size: 24px;
  font-weight: bold;
  position: absolute;
  width: 0;
}

.swiper-timeless .swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
}

.swiper-timeless .swiper-slide-active {
  transform: scale(1.2);
  opacity: 1;
}

/* ------------------about------------------ */
.about {
  padding: 40px 16px;
}
.about__img-container {
  position: relative;
  margin-bottom: 24px;
  filter: grayscale(100%);
}

.about__img-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about__img {
  width: 100%;
  height: 100%;
}
.about__title {
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 14px;
}
.about__text {
  font-family: "Lusitana-Regular", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

/* -------------------brands------------------- */
.brands {
}
.container {
}
.brands__title {
  line-height: 1.4;
  font-size: 22px;
  text-align: center;
  margin-bottom: 24px;
}

.brands__img {
  width: 116px;
  height: 80px;
  border: var(--button-bgc-color) 1px solid;
  padding: 12px 24px;
}
/* ------------------brands-swiper------------------ */
.brands {
  padding: 25px 0;
}
.swiper {
  width: 100%;
  position: relative;
}

.swiper-brands {
}
.swiper-wrapper {
}
.brands__list {
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 100%;
  position: relative;
}

.brands__list-el {
}
.brands__img {
  object-fit: contain;
}

/* ------------------gallery-section------------------ */

.gallery {
  padding: 25px 16px;
}
.gallery__container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.gallery__img {
}

/* ------------------collection-section------------------ */

.collection {
  padding: 25px 0 50px 0;
}

.collection__btn-man {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 222px;
  background-image: url(./img/man.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 210%;
  background-position: 40%;
  margin-bottom: 12px;
  border: none;
}

.collection__btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 52px;
  background-color: var(--main-bgc-color);
  line-height: 1.4;
  color: var(--main-text-color);
}

.collection__btn-woman {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 222px;
  background-image: url(./img/woman.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

/* ------------------testimonials-section------------------ */
.testimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.98) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(./img/testimonials-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px 4px 44px 4px;
}

.testimonials__title {
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.testimonials__img-container {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./img/testimonials-img.jpg);
  width: 270px;
  height: 178px;
  background-repeat: no-repeat;
  background-position: 36% 37%;
  background-size: 600%;
  margin-bottom: 20px;
}

.testimonials__svg-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials__svg-container::before {
  content: "";
  position: absolute;
  width: 83px;
  height: 2px;
  background-color: var(--button-bgc-color);
  top: 50%;
  right: 0;
}
.testimonials__svg-container::after {
  content: "";
  position: absolute;
  width: 83px;
  height: 2px;
  background-color: var(--button-bgc-color);
  top: 50%;
  left: 0;
}

.testimonials__author {
  font-family: Proza Libre;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.testimonials__svg--top {
}
.swiper {
}

.swiper-testimonials {

}
.swiper-wrapper {
}
.swiper-slide {
}

.swiper-slide__text-container {
  height: 276px;
  max-width: 272px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.swiper-slide__text {
  font-family: Lusitana;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  max-width: 252px;
}

.testimonials__svg--bottom {
  rotate: 180deg;
}

.testimonials__svg--bottom::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: var(--button-bgc-color);
  top: 50%;
}

.testimonials__svg--bottom::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: var(--button-bgc-color);
  top: 50%;
}

/* gallery-photos section */
.gallery-photos {
  padding: 50px 16px 25px 16px;
}
.container {
}
.gallery-photos__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
.gallery-photos__list-el-1 {
  grid-row: span 2 / span 2;
}
.gallery-photos__list-el-2 {
  grid-column-start: 2;
  grid-row-start: 1;
}
.gallery-photos__list-el-3 {
  grid-column-start: 3;
  grid-row-start: 1;
}
.gallery-photos__list-el-4 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 2;
}

.gallery-photos__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------location------------------ */

.location__container {
  max-height: 296px;
  margin-bottom: 24px;
}

/* ------------------showroom------------------ */

.showroom {
  padding: 25px 16px 50px 16px;
}

.showroom__title {
  text-align: center;
  margin-bottom: 14px;
}

.showroom__text {
  font-family: Lusitana;
  text-align: justify;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}
.showroom__btn {
  font-family: Lusitana;
  font-size: 18px;
  width: 100%;
  padding: 8px 0;

  background-color: var(--button-bgc-color);
  color: white;
  border: none;
}

/* ------------------footer------------------ */
.footer {
  padding: 14px 0;
  background-image: linear-gradient(
      0deg,
      rgba(8, 6, 10, 0.8) 0%,
      rgba(8, 6, 10, 0.8) 100%
    ),
    url(./img/footer-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: #efefef 1px solid;
}
.footer__logo-container {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}
.footer__svg {
  width: 30px;
  height: 35px;
}
.footer__text {
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
}
.footer__list-el {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Source Serif Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
}
.footer__socials-el {
}
.footer__socials-svg {
  width: 24px;
  height: 24px;
  fill: var(--main-text-color);
}

/* ------------------mobile------------------ */
@media screen and (min-width: 420px) {
  .gallery {
    padding: 25px 16px;
  }
}

/* ------------------tablet------------------ */

@media screen and (min-width: 768px) {
  .body {
    background: rgb(34, 25, 36);
    background: linear-gradient(
      90deg,
      rgba(34, 25, 36, 1) 0%,
      rgba(9, 8, 15, 1) 50%
    );
  }

  .container {
    max-width: 100%;
    padding: 0 40px;
  }

  .hero__title {
    font-family: Source Serif Pro;
    font-size: 36px;
  }

  .hero__text {
    max-width: 440px;
  }
  /* mobile-menu */
  .mobile-menu {
    width: 40%;
    height: 100%;
    top: 0;
    justify-content: space-evenly;
  }

  .mobile-menu__close {
    top: 44px;
    right: 40px;
  }

  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.mobile-menu__socials {
justify-content: space-around;
  }

  /* swiper-timeless */
  .timeless {
    padding: 48px 40px;
    background: rgb(51, 36, 51);
    background: radial-gradient(
      circle,
      rgba(51, 36, 51, 0.8) 0%,
      rgba(9, 8, 15, 1) 44%
    );
  }

  .swiper__timeless-img {
    width: 50%;
  }

  /* about */

  .about {
    padding: 40px 40px;
  }

  /* brands */

  .brands {
    padding: 40px 0;
  }

  /* gallery-section*/
  .gallery {
    padding: 40px 40px;
  }

  .gallery__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
  }

  .gallery__img {
    width: 100%;
  }

  .gallery__img-1 {
    grid-column: span 2 / span 2;
    width: 100%;
  }

  /* collection-section*/
  .collection {
    padding: 40px 40px;
  }

  .collection__btn-man {
    margin-bottom: 16px;
  }

  /* location-section */
  .location {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .showroom {
    max-width: 44%;
  }

  #map {
    width: 50%;
}
}

/* ------------------desktop------------------ */
@media screen and (min-width: 1440px) {
  .container {
    width: 1726px;
    padding: 0 48px;
  }

  .bg-container {
    /* padding-bottom: 126px; */
  }
  .nav {
    margin-bottom: 128px;
    padding-top: 53px;
    max-width: 1436px;
  }
  .logo {
  }
  .logo__svg {
    width: 46px;
    height: 56px;
  }
  .logo__text {
    font-size: 48px;
    line-height: 1.4;
  }
  .nav-list {
    display: flex;
    gap: 52px;
  }

  .nav-list__el {
    font-family: "SourceSerif4_Light", Arial, sans-serif;
    font-size: 24px;

    line-height: 1.25;
  }

  .burger {
    display: none;
  }

  .burger__bar {
  }
  .hero {
  }
  .hero__title {
    font-size: 72px;
    line-height: 1.25;
    margin-bottom: 24px;
  }
  .hero__text {
    font-family: "SourceSerif4_Light", Arial, sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.5;
    max-width: 862px;
  }
  .hero__btn {
    min-width: 414px;
    font-size: 28px;
  }
}
